
/* .navbar{
    background-color: yellow;
    display: flex;
    height: 70px;
}
#nav-rt{
    display: flex;
    flex-direction:row ;
    
} */
/* 
.foot{
    background-color: turquoise;
    height: 40px;
    margin-top: 300px;
}
.sec{
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: 300px;
    background-color: violet;
    height: 400px;
    
} */
/* #box-1{
    background-color: red;
    display: flex;
    height: 300px;
    width: 600px;
    padding: 50px;
    margin-left: 450px;
}
#box-2{
    display: flex;
    text-align: center;
    background-color: green;
    height: 250px;
    flex-direction:row;
    margin-left: 200px;
    margin-right: 20px;
   
    /* padding-left: 30px;
    padding-right: 20px;
    padding-top:20px ; */

/* }
#box-3{
    display: flex;
    text-align: center;
    background-color: rgb(219, 18, 142);
    height: 250px;
    flex-direction:row;
    margin-left: 50px;
    margin-right: 60px;
    width: 350px;
}
#box-4{
    display: flex;
    text-align: center;
    background-color: rgb(12, 54, 109);
    height: 250px;
    flex-direction:row;
    width: 350px;
} */ */

h1,
h2,
h3,
h4,
h5,
h6 {}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
span, a, a:hover {
display: inline-block;
text-decoration: none;
color: inherit;
}
.section-head {
margin-bottom: 60px;
}
.section-head h4 {
position: relative;
padding:0;
color:#f91942;
line-height: 1;
letter-spacing:0.3px;
font-size: 34px;
font-weight: 700;  
text-align:center;
text-transform:none;
margin-bottom:30px;
}
.section-head h4:before {
content: '';
width: 60px;
height: 3px;
background: #f91942;
position: absolute;
left: 0px;
bottom: -10px;
right:0;  
margin:0 auto;
}
.section-head h4 span {
font-weight: 700;
padding-bottom: 5px;
color:#2f2f2f
}
p.service_text{
color:#cccccc !important;
font-size:16px;
line-height:28px;
text-align:center;    
}
.section-head p, p.awesome_line{
color:#818181;
font-size:16px;
line-height:28px;
text-align:center;  
}

.extra-text {
font-size:34px;
font-weight: 700;
color:#2f2f2f;
margin-bottom: 25px;
position:relative;
text-transform: none;
}
.extra-text::before {
content: '';
width: 60px;
height: 3px;
background: #f91942;
position: absolute;
left: 0px;
bottom: -10px;
right: 0;
margin: 0 auto;
}
.extra-text span {
font-weight: 700;
color:#f91942;
}
.item {
background: #fff;
text-align: center;
padding: 30px 25px;
-webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
border-radius: 20px;
border:5px solid rgba(0, 0, 0, 0.07);
margin-bottom: 30px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover{
background:#f91942;
box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover .item, .item:hover span.icon{
background:#fff;
border-radius:10px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover h6, .item:hover p{
color:#fff;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item .icon {
font-size: 40px;
margin-bottom:25px;
color: #f91942;   
width: 90px;
height: 90px;
line-height: 96px;
border-radius: 50px;
}
/* .bg{
    background-image:url(../img/back1.jpg) ;
    height: 100%;
} */

html { 
    background: url(img/annie-spratt-hX_hf2lPpUU-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }
/* .item1{
    background-image: url(img/img5.jpg);
    opacity: 0.55;
} */